<%- include("templates/header") %> 
    email address:
    <form action='/submitEmail' method='post' style="height: 340px;">
        <input name='email' type='text' placeholder='email'>
        <button>Submit</button>
    </form>
    <% if (missing) { %>
        <br> email is required
    <% } %>  
<%- include("templates/footer") %> 