<%- include("templates/header") %> 
    <form action='/login' method='get'>
            <button>Login</button>
    </form>

    <form action='/createUser' method='get'>
        <button>Signup</button>
    </form>
<%- include("templates/footer") %> 