<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container text-center text-md-start">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4 mb-3">
        <h5>Assignment 2</h5>
        <p>Learning how to use EJS and Boostrap for a website.</p>
      </div>

      <!-- Links Section -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">Cats</a></li>
          <li><a href="#" class="text-white text-decoration-none">Login</a></li>
          <li><a href="#" class="text-white text-decoration-none">Admin</a></li>
          <li><a href="#" class="text-white text-decoration-none">404</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p>Email: rtarrayo2@my.bcit.ca</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <p class="mb-0">Trey Tarrayo | A01455838</p>
  </div>
</footer>

</body>
</html>