<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>


<nav class="navbar justify-content-end" style="background-color: #e3f2fd;" data-bs-theme="light">
    <ul class="nav">
        <% for(var i=0; i<navLinks.length; i++) { %>
        <li class="nav-item">
            <a href="<%= navLinks[i].link %>" 
               class="nav-link <%= navLinks[i].link === currentPath ? 'active' : '' %>" 
               aria-current="page" 
               style="<%= navLinks[i].link === currentPath ? 'background-color: #99bcf7; border-radius: 5px;' : '' %>">
               <%= navLinks[i].name %>
            </a>
        </li>
        <% } %>
        <% if (isAuthenticated) { %> <!-- Show logout button if the user is logged in -->
        <li class="nav-item">
            <form action='/logout' method='get' class="d-inline">
                <button class="btn nav-link text-danger" style="border: none; background: none;">Logout</button>
            </form>
        </li>
        <% } %>
    </ul>
</nav>